:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 0;
    background: 0 0;
}

::-webkit-scrollbar-thumb {
    background: 0 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

body {
    line-height: 1.25;
    font-family: Oxygen, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
nav,
hgroup,
menu,
section,
.ui-suggest {
    display: block;
}

ul li {
    list-style: none;
}

.m63_wrp {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
}

.tst_bg1 {
    background-color: #2f5c91;
}

.tst_bg2 {
    background-color: #6a752d;
}

.h100 {
    height: 100%;
}

.w1 {
    width: 100%;
}

.mw1 {
    max-width: 100%;
}

.mh {
    max-height: 100%;
}

.df {
    display: flex;
}

.dn,
.hideNav ul,
.m63_insd.m63_sch_on .m63_cn_grp hgroup,
.m63_srh_grp {
    display: none;
}

.db,
.ffw.m63_tgl ul,
.m63_sch_on .m63_srh_grp {
    display: block;
}

.dib {
    display: inline-block;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.zi1 {
    z-index: 1;
}

.zi2 {
    z-index: 2;
}

.zi3 {
    z-index: 3;
}

.zi15 {
    z-index: 15;
}

.zi13 {
    z-index: 13;
}

.fdc {
    flex-direction: column;
}

.flx1 {
    flex: 1;
}

.flx2 {
    flex: 0 0 100%;
}

.ffw {
    flex-flow: wrap;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: end;
}

.jcsa {
    justify-content: space-around;
}

.jcsb {
    justify-content: space-around;
}

.jcr {
    justify-content: flex-end;
}

.acc {
    align-content: center;
}

.aic {
    align-items: center;
}

.ass {
    align-self: stretch;
}

.mlra {
    margin-left: auto;
    margin-right: auto;
}

.m0a {
    margin: 0 auto;
}

.mla {
    margin-left: auto;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt2 {
    margin-top: 2px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.mt40 {
    margin-top: 40px;
}

.mtm5 {
    margin-top: -5px;
}

.mtm10 {
    margin-top: -10px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mtl4 {
    margin-top: -8px;
    margin-right: 6px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.pl5 {
    padding-left: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pr10 {
    padding-right: 10px;
}

.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.p1020 {
    padding: 10px 20px;
}

.ptb10 {
    padding: 10px 0;
}

.p1510 {
    padding: 15px 10px;
}

.tal {
    text-align: left;
}

.m63_scsn_p>h2,
.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tdn {
    text-decoration: none;
}

.ttu {
    text-transform: uppercase;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.fw3 {
    font-weight: 300;
}

.fw4 {
    font-weight: 400;
}

.fw7 {
    font-weight: 700;
}

.clr1 {
    color: #444;
}

.clr2 {
    color: #fff;
}

.clr3 {
    color: #f72475;
}

.clr4 {
    color: #eef0f6;
}

.clr5 {
    color: #000;
}

.clr6 {
    color: #777;
}

.clr7 {
    color: #009577;
    cursor: pointer;
}

.clr8 {
    color: #888;
}

.clr9 {
    color: #cc4343;
}

.clr10 {
    color: #0092ff;
}

.bg1 {
    background-color: #222;
}

.bg2 {
    background-color: #333;
}

.bg3,
nav.m63_insd {
    background-color: #009577;
}

.bg4 {
    background-color: #fff;
}

.bg5 {
    background-color: #f6f6f6;
}

.bg6 {
    background-color: #f72475;
}

.bg7 {
    background-color: #f4f5f9;
}

.bg8 {
    background-color: #ecebeb;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ofh {
    overflow: hidden;
}

.ofa {
    overflow: auto;
}

.brd1 {
    border-left: 1px solid #f72475;
}

.brd2 {
    border-top: 1px solid #e6e6e6;
}

.brd3 {
    border: 1px solid #f0f0f0;
}

.brd4 {
    border-right: 1px solid #f0f0f0;
}

.brd_err textarea {
    border: 1px solid #cc4343;
}

.bsb {
    box-sizing: border-box;
}

.br5 {
    border-radius: 5px;
}

.br50 {
    border-radius: 50%;
}

.m63_play:after,
.m63_play:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.m63_play.sm_pl:before {
    width: 29px;
    height: 21px;
    background-color: #f61c0d;
    border-radius: 4px;
}

.m63_play.sm_pl:after {
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 8px;
}

.m63_play:before {
    width: 60px;
    height: 43px;
    background-color: #f61c0d;
    border-radius: 13px;
}

.m63_play:after {
    width: 0;
    height: 0;
    border-radius: 2px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #fff;
    left: 2px;
}

nav {
    padding: 10px 0 0;
    background-color: #fff;
}

.m63_hb_mnu figure {
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    min-width: 50px;
    min-height: 50px;
}

.m63_cn_grp figure img {
    max-width: 80px;
    max-height: 80px;
}

.m63_hb_mnu figure img {
    max-width: 50px;
    max-height: 50px;
}

.m63_cn_grp {
    line-height: 30px;
}

.m63_cn_grp h1 {
    font-size: 23px;
    line-height: normal;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.m63_cn_grp h2 {
    font-size: 16px;
    font-weight: 400;
}

.d63_GST {
    margin-top: 5px;
}

.TsGstSprt.d63IVE {
    width: 24px;
}

.m63_sch_icn {
    width: 28px;
    height: 28px;
    background-position: -3px -49px;
    float: right;
    background-size: 231px auto;
}

.m63_insd .fdc.m63_cn_grp {
    flex-direction: row;
    text-align: left;
    flex: 1;
}

.m63_hb_mnu h1,
.m63_insd .m63_cn_grp h1 {
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
    color: #fff;
}

.m63_insd .m63_cn_grp h2 {
    display: none;
}

.m63_insd .m63_sch_icn {
    background-position: -69px -49px;
}

.m63_insd .m63_hb_ln {
    background-color: #fff;
}

.m63_insd .m63_cn_grp figure {
    margin: 0;
}

.m63_hb_mnu {
    width: 80%;
    bottom: 0;
    top: 0;
    left: 0;
}

.m63_dn_ar:after,
.m63_dn_ar:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.m63_dn_ar:after,
.m63_dn_ar:before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    right: 15px;
}

.m63_dn_ar:after {
    border-top: 9px solid #fff;
    top: 13px;
}

.m63_dn_ar:before {
    border-top: 9px solid #000;
    top: 14px;
}

.m63_tgl .m63_dn_ar:before {
    border-bottom: 9px solid #009577;
    top: 14px;
    border-top: none;
}

.m63_tgl .m63_dn_ar:after {
    border-bottom: 9px solid #fff;
    top: 16px;
    border-top: none;
}

.m63_tgl>a {
    color: #009577;
}

.m63_srh_grp {
    top: 13px;
    min-width: 100%;
}

.m63_nLg>div {
    min-height: 65px;
}

.m63_srh_grp input {
    width: 100%;
    height: 46px;
    font-size: 14px;
    font-style: italic;
    border: 1px solid #e1e1e1;
    border-right: none;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.m63_insd .m63_srh_grp input {
    margin-top: 0;
}

.m63_srh_grp input,
.nLg.m63_insd .m63_srh_grp input {
    margin-top: -3px;
}

.m63_sch_on .m63_hb,
.m63_sch_on .m63_sch {
    position: relative;
    z-index: 2;
}

.m63_sch_on>.m63_srh_grp {
    z-index: 3;
}

.m63_sch_on .m63_sch_icn {
    background-position: -36px -49px;
    background-color: #fff;
}

.m63_hero {
    height: 345px;
}

.m63_hero,
.m63_hero_itm>li,
.m63_hero_itm>li .m63_hero_a {
    max-width: 500px;
    max-height: 500px;
    width: 100vw;
    height: 100vw;
}

.m63_hero_itm>li,
.m63_hero_itm>li .m63_hero_a {
    min-width: 100%;
    min-height: 100%;
}

.m63_ply_hom {
    width: 60px;
    height: 31px;
    z-index: 10;
}

.dot {
    bottom: 0;
    z-index: 1;
    padding: 10px;
    margin-left: -10px;
}

.dot span {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #e4e4e4;
    margin-right: 6px;
}

.dot span.swiper-pagination-bullet-active {
    background-color: #f72475;
}

.line_vtcl {
    width: 2px;
    height: 40px;
}

.line_vtcl:last-of-type {
    display: none;
}

.m63_fct {
    width: 40px;
    height: 42px;
    background-size: 500%;
}

.m63_fct.m63_nob {
    background-position: -162px -46px;
}

.m63_fct.m63_yoe {
    background-position: -127px 0;
}

.m63_fct.m63_gst {
    width: 40px;
    height: 42px;
    background-size: 500%;
    background-position: -165px 0;
}

.m63_lsf {
    width: 44px;
    height: 42px;
    background-size: 435%;
    background-position: -108px -46px;
}

.m63_scsn>h2 {
    font-size: 24px;
    padding-top: 10px;
    padding-right: 15px;
    font-weight: 400;
    flex: 0 0 100%;
    z-index: 2;
    position: relative;
}

.m63_scsn>h2 a,
.m63_scsn>h2>span {
    font-size: 24px;
    padding: 0 5px 2px 15px;
    border-bottom: 3px solid #009577;
}

.m63_scsn h2 .m63_h1 {
    font-size: 22px;
    padding: 15px 5px 6px 15px;
    border-bottom: 3px solid #009577;
}

.m63_prd {
    border: 1px solid #d9d9d9;
    max-width: 250px;
    width: 48.5%;
    margin-top: 10px;
    padding-bottom: 30px;
}

.m63_prd:nth-of-type(odd) {
    margin-right: 3%;
}

.m63_prd figure {
    height: 48vw;
}

.m63_prd figure,
.m63_prd figure a {
    max-width: 248px;
    max-height: 248px;
}

.m63_prd figure img {
    max-width: 48vw;
    max-height: 48vw;
    border-radius: 5px 5px 0 0;
}

.m63_prd h2 a,
.m63_prd h2>span {
    padding: 20px 10px 10px;
}

.m63_vcr span {
    width: 10px;
    height: 22px;
}

.m63_prd_dtl {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.m63_prd_dtl figure img {
    max-width: 150px;
    max-height: 150px;
}

.m63_prd_dtl figure a {
    width: 150px;
    height: 150px;
}

.m63_prd_dtl figure>span {
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.m63_expl_m,
.m63_vid_thmb {
    border-left: 3px solid #009577;
    box-shadow: 0 0 0 1px rgba(0, 204, 153, 0.2);
}

.m63_expl_m:last-of-type,
.m63_vid_thmb:last-of-type {
    margin-bottom: 0;
}

.m63_expl_m figure img,
.m63_vid_thmb figure img {
    max-width: 72px;
    max-height: 72px;
}

.m63_expl_m figure a,
.m63_expl_m figure span,
.m63_vid_thmb figure a,
.m63_vid_thmb figure span {
    width: 72px;
    height: 72px;
}

.m63_expl_m figure,
.m63_vid_thmb figure {
    height: 74px;
}

.m63_expl_m h2 a,
.m63_expl_m h2>span {
    height: 45px;
    line-height: 1.05;
}

.m63_vid_thmb h2 a,
.m63_vid_thmb h2>span {
    max-height: 67px;
}

.m63_dtl {
    max-height: 123px;
    line-height: 1.3;
    padding-bottom: 18px;
}

.m63_pdfi {
    width: 19px;
    height: 20px;
    background-position: -7px -101px;
    background-size: 1300%;
    margin-left: 2px;
    margin-top: -2px;
}

.m63_crcl {
    width: 30px;
    height: 30px;
    border: 1px solid #efefef;
}

.m63_vido {
    width: 20px;
    height: 15px;
    background-position: -94px -97px;
    background-size: 1160%;
    margin-left: 1px;
}

.m63_gbp {
    border-radius: 5px;
    min-width: 44%;
}

.m63_clnw {
    border-radius: 5px;
    min-width: 33%;
}

.m63_gbp span {
    width: 25px;
    height: 16px;
    background-position: -54px -85px;
    background-size: 13em;
}

.m63_clnw span {
    width: 18px;
    height: 18px;
    background-position: -30px -86px;
    background-size: 209px auto;
}

.m63_vid img {
    max-width: 420px;
}

.m63_pdp {
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.m63_pd>li:first-of-type {
    margin-top: 0;
}

.pdp_detail li,
.pdp_detail li span {
    color: #444;
    font-size: 17px;
}

.pdp_detail li {
    margin-bottom: 30px;
}

.pdp_detail li:last-of-type {
    margin-bottom: 0;
}

.pdp_detail li span {
    font-weight: 700;
}

.m63_pdp .m63_hero,
.m63_pdp .m63_hero_itm li,
.m63_pdp .m63_hero_itm li .m63_hero_a {
    width: 94vw;
    height: 94vw;
}

.m63_pop_frm,
.m63_pop_frm.mSecond {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 420px;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.enq63 .m63_whitbg,
.m63_pop_frm .m63_whitbg {
    background-color: #fff;
}

.enq63 h2>span,
.m63_pop_frm h2>span {
    color: #009577;
    border-bottom: none;
}

.m63_pop_frm .m63_cls_icn {
    top: 3px;
    right: 5px;
}

.m63_pop_frm .m63_cls_icn {
    display: inline-block;
    cursor: pointer;
}

.popvid {
    margin: auto;
    z-index: 111;
}

.blkScr {
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.m63_cnt_frm {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.m63_txt_ara {
    padding: 10px;
}

.m63_txt_ara textarea {
    background-color: #f0f0f0;
    resize: none;
    border-radius: 4px;
    height: 100px;
}

.m63_mb_inp {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.m63_cntr_cd {
    width: 115px;
}

.frn_cntr .m63_cntr_cd {
    width: 73px;
}

.m63_cntr_cd .selected-flag {
    width: 45px;
    height: 30px;
    padding: 0 3px 0 10px;
}

.intl-tel-input select.cntry4_p {
    position: absolute;
    height: 37px;
    width: 65px;
    min-width: 65px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    top: -10px;
    z-index: 4;
}

.intl-tel-input input.m63_iso {
    width: 50px;
    min-width: 50px;
    font-size: 15px;
}

.m63_eml input,
.m63_mbl_grp .m63_mbl,
.m63_nme input,
.m63_nme label {
    height: 39px;
}

.m63_cntr_cd .intl-tel-input .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #555;
    margin-left: 7px;
}

.m63_nme label {
    padding: 0 5px 0 10px;
    line-height: 37px;
}

.m63_btn,
.m63_sbmt_btn {
    width: 117px;
    height: 40px;
}

.m63_sbmt_btn {
    line-height: 40px;
    cursor: pointer;
}

.m63_whitbg {
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
}

.m63_whitbg:after {
    position: absolute;
    content: "";
    background: -moz-linear-gradient(top,
            rgba(255, 255, 255, 0) 0,
            rgba(156, 156, 156, 0) 15%,
            rgba(0, 0, 0, 0.4) 100%);
    background: -webkit-linear-gradient(top,
            rgba(255, 255, 255, 0) 0,
            rgba(156, 156, 156, 0) 15%,
            rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0,
            rgba(156, 156, 156, 0) 15%,
            rgba(0, 0, 0, 0.4) 100%);
    background-color: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: top left;
    transform: skewY(6deg);
}

.enq63 .m63_whitbg:after,
.m63_pop_frm .m63_whitbg:after {
    background-image: none;
}

.nmlPop h2>span {
    border-bottom: none;
}

.error_notification {
    font-size: 14px;
    top: 0;
    left: 0;
    line-height: 17px;
}

textarea {
    font-family: Oxygen, sans-serif;
    font-size: 15px;
}

.m63_cnt_dtl {
    margin-top: 90px;
    padding: 0 20px 45px;
}

.m63_ftr_cta {
    margin-top: -45px;
}

.m63_ftr_cta li a span {
    width: 40px;
    height: 32px;
    background-size: 550%;
}

.cta a {
    width: 98px;
    height: 72px;
    border: 1px solid #c0d1ce;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    padding-top: 16px;
}

.m63_sms a span {
    background-position: -42px -1px;
}

.m63_eml a span {
    background-position: -93px -1px;
}

.m63_cal a span {
    background-position: 5px -1px;
}

.m63_cnt_ad {
    margin-top: 45px;
}

.enq63 .m63_cnt_dtl {
    margin-top: 0;
}

.m63_cnt_ad .m63_sprt {
    width: 30px;
    height: 30px;
    min-width: 30px;
    background-size: 202px auto;
}

.m63_lochead {
    width: 22px;
    height: 22px;
    min-width: 22px;
    background-size: 140px auto;
    background-position: -89px -77px;
    margin: 0 3px -5px -2px;
}

.m63_cp {
    background-position: -98px -112px;
}

.m63_cn {
    background-position: -164px -112px;
}

.m63_ca {
    background-position: -131px -112px;
}

.m63_cl {
    width: 21px;
    height: 22px;
    background-size: 9em;
    background-position: 0 -1px;
}

.m63_ln {
    width: 60%;
    height: 1px;
    background-color: #707070;
}

.m63_sare span {
    width: 16px;
    height: 16px;
    margin-top: 1px;
    background-size: 15em;
    background-position: -96px -47px;
}

.m63_sicn a, .m63_sicn>span {
    width: 33px;
    height: 33px;
    background-size: 223px auto;
 }

.m63_sicn.fbk a {
    background-position: -72px -123px;
}

.m63_sicn.wap a, .m63_sicn.wap>span {
    background-position: -35px -123px;
 }

.m63_sicn.twt a {
    background-position: -1px -123px;
}

.imicon {
    width: 32px;
}

.m63_btt {
    font-size: 13px;
    right: 20px;
    bottom: 15px;
    z-index: 22;
}

.m63_btt span {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #494949;
    margin: 0 auto 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.m63_btt span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 2px;
    right: 0;
    top: 0;
    bottom: 2px;
    margin: auto;
    border-radius: 5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #494949;
}

.m63_atosug {
    top: 56px;
}

.m63_atosug .ui-suggest {
    padding: 8px 10px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background-color: #f1f1f1;
}

.m63_atosug .ui-suggest:first-of-type {
    border-top: 1px solid #e9e9e9;
}

.m63_atosug .ui-suggest:last-of-type {
    border-bottom: 1px solid #e9e9e9;
}

.atosug {
    width: 100%;
}

.enqload {
    right: 2px;
    top: 12px;
}

.tblr0 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.tdu {
    text-decoration: underline;
}

.tst_bg3 {
    background-color: rgba(214, 222, 221, 0.2);
}

.m63_err_icn {
    width: 23px;
    height: 22px;
    margin: 0 auto;
    background-position: -157px -78px;
    background-size: 13em;
}

.sml_err {
    top: 100%;
    left: 0;
}

.nLg.m63_sch_on hgroup {
    margin-top: 50px;
}

.m63_rm_sm {
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    background: -webkit-linear-gradient(top,
            rgba(255, 255, 255, 0) 0,
            #fff 46%,
            #fff 100%);
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0,
            #fff 46%,
            #fff 100%);
}

.m63_rm_sm span {
    font-size: 14px;
    color: #00715a;
    font-weight: 600;
    text-decoration: underline;
}

.load {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation-duration: 0.45s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    border-color: #707070 #fff #fff;
    border-image: none;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    display: none;
    height: 29px;
    margin: auto;
    position: fixed;
    transition-timing-function: linear;
    width: 29px;
    z-index: 1600;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tble_show {
    font-size: 12px;
    overflow: scroll;
}

.tble_show table {
    min-width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tble_show table td {
    border: 1px solid #bdbdbd;
    padding: 2px 4px;
}

.m63_fct_blok {
    background-color: #f8fcfb;
}

.cros_btn {
    width: 7px;
    border-radius: 50%;
    background-color: #bdbdbd;
    line-height: 6px;
    font-weight: 700;
    position: absolute;
    top: -25px;
    right: 2px;
    padding-bottom: 12px;
}

.vdoBlk {
    height: 180px;
    max-width: 360px;
}

.vbrdr {
    width: 100%;
    border: 8px solid #000;
}

.hAuto {
    height: auto;
    height: 100%;
    min-height: 45px;
}

.lh1 {
    line-height: 1.56;
}

.ls1 {
    letter-spacing: 0.3px;
}

.hideS {
    height: 56px;
    overflow: hidden;
}

.m63_plus span {
    width: 14px;
    height: 2px;
    background-color: #5a5a5a;
    margin: 16px 10px 0;
}

.hideS .m63_plus span:after {
    position: absolute;
    content: "";
    height: 14px;
    width: 2px;
    background-color: #5a5a5a;
    right: 16px;
    top: 10px;
}

.m63_mr_prd {
    bottom: 0;
}

.mw80 {
    max-width: 80%;
}

.m63_stic_frm form {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 12;
    background-color: #fff;
    margin: 0;
    padding-bottom: 58px;
    border-radius: 0;
}

.b0 {
    bottom: 0;
}

.m63_mnpop .m63_btt,
.m63_mnpop .m63_explmor,
.m63_mnpop .m63_mndtl,
.m63_mnpop .mHeader,
.m63_mnpop .m63TsGst,
.m63_mnpop .m63_wrp.mt132,
.m63_mnpop .m63_wrp.mt65,
.m63_mnpop footer,
.m63_stic_frm .m63_btn,
.m63_stic_frm .m63_cls_icn,
.m63_stic_frm .m63_txt_ara,
.m63_stic_frm .m63_whitbg,
.m63_stic_frm h2,
.m63_mnpop #hdrLoc,
.m63_mnpop header {
    display: none;
}

.m63_mnpop .m63_scsn.pdp_detail {
    padding-bottom: 145px;
}

.m63_mnpop .m63_pdp,
.m63_mnpop .m63_prd_cta {
    display: flex;
}

.m63_mnpop .m63_stic_frm {
    margin-top: 0;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.m63_gt_drcn {
    margin-top: 5px;
}

.m63_gt_drcn svg {
    margin: 3px 5px 0 0;
}

.m63_gt_drcn span {
    color: #0092ff;
    line-height: 12px;
}

@keyframes m63Trans {
    0% {
        transform: scale(0) translate(0, 300px);
        -webkit-transform: scale(0) translate(0, 300px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translate(0, 0);
        -webkit-transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

.m63_pop_frm,
.m63_pop_frm.mSecond {
    animation: m63Trans 0.2s ease-in-out forwards;
    -webkit-animation: m63Trans 0.2s ease-in-out forwards;
}

.m63trans {
    animation: m63Trans 0.2s ease-in-out forwards;
    -webkit-animation: m63Trans 0.2s ease-in-out forwards;
}

.hpv .m63_prd figure a,
.hpv figure {
    height: 100px;
    max-height: 100px;
}

.hpv .m63_prd figure a img {
    max-height: 100px;
    width: 100%;
}

.hpv .m63_play:before {
    width: 40px;
    height: 28px;
    border-radius: 5px;
}

.m63_play:after {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #fff;
    left: 2px;
}

.pb50 {
    padding-bottom: 50px;
}

.stkyBtn {
    max-width: 1024px;
    bottom: 0;
    margin: 0 auto;
}

.sticNavBtm ul {
    display: flex;
    justify-content: space-between;
}

.sticNavBtm ul li a,
.sticNavBtm ul li>span {
    font-size: 13px;
    color: #777;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sticNavBtm ul li a svg,
.sticNavBtm ul li>span svg {
    width: 100%;
    height: 20px;
    margin: 7px auto 9px;
    color: #009577;
}

.sticNavBtm ul li a.actIcn,
.sticNavBtm ul li a:hover,
.sticNavBtm ul li>span.actIcn,
.sticNavBtm ul li>span:hover {
    color: #009577;
}

svg.svgIcn {
    fill: #009577;
    padding-top: 1px;
}

.sticNavBtm ul li a:hover svg,
.sticNavBtm ul li>span:hover svg {
    fill: #009577;
}

.main_nav_nam:after,
.sticNavBtm:after,
.sticNavBtm:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
}

.sticNavBtm:after,
.sticNavBtm:before {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.sticNavBtm:before {
    border-bottom: 7px solid #009577;
    top: -4px;
}

.sticNavBtm:after {
    border-bottom: 7px solid #fff;
    top: -3px;
}

.circlMenu {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    bottom: 3px;
}

.circlMenu,
.shadowMenu {
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

.shadowMenu,
.sticNavBtm {
    height: 60px;
}

.up_round {
    overflow: hidden;
    height: 400px;
    top: -50px;
    z-index: -1;
}

.up_round:after {
    position: absolute;
    content: "";
    width: 200%;
    height: 400px;
    background-color: #fff;
    right: -50%;
    border-radius: 50%;
}

.prdctopen {
    width: 50px;
    height: 50px;
}

.main_nav_nam {
    top: -85px;
}

.main_nav_nam:after {
    width: 38px;
    height: 40px;
    background-color: #fff;
    top: 14px;
    border-radius: 50%;
    z-index: -1;
}

.bm100 {
    bottom: -100%;
    visibility: hidden;
}

.lr0 {
    left: 0;
    right: 0;
}

.m0a {
    margin: 0 auto;
}

.zi1 {
    z-index: 1;
}

.zi2 {
    z-index: 2;
}

.zi3 {
    z-index: 3;
}

.mt132 {
    margin-top: 132px;
}

.mt65 {
    margin-top: 65px;
}

.m63_btt {
    bottom: 70px;
}

.stkNavBtm.m63_hb_mnu {
    width: 100%;
    top: auto;
    z-index: 20;
    max-height: 600px;
}

.stkNavBtm .m63_dn_ar,
.stkNavBtm>div,
.stkNavBtm>ul>li {
    display: none;
}

.btmAbt>ul>li.abtM ul,
.btmPrd>ul>li.catM ul {
    max-height: 370px;
}

.btmAbt>ul>li.abtM,
.btmPrd>ul>li.catM {
    display: block;
    padding: 20px 10px 0px;
}

.crossIcon,
.crossIcon svg {
    width: 15px;
    height: 15px;
    top: -30px;
    right: 10px;
}

.trans1 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 66;
}

.transAdd {
    bottom: -75px;
}

.m63_trst {
    right: 20px;
    width: 60px;
}

.HeaderStk {
    position: fixed;
    top: 0;
    z-index: 3;
    left: 0;
    right: 0;
}

.HeaderSclStk .m63_atosug {
    top: 158px;
}

.m63TsGst {
    font-size: 13px;
    margin-bottom: 10px;
    justify-content: center;
}

.TsGstSprt {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.m63Ts:nth-last-of-type(2) {
    margin-right: 10px;
}

.HeaderSclStk .m63_cn_grp h1 {
    font-size: 14px;
    margin-bottom: 0;
}

.HeaderSclStk .m63_cn_grp figure {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-bottom: 0;
}

.HeaderSclStk .m63_cn_grp figure img {
    max-width: 30px;
    max-height: 30px;
}

.HeaderSclStk .hAuto {
    min-height: 35px;
}

.mt161 {
    margin-top: 161px;
}

.mt103 {
    margin-top: 103px;
}

nav hgroup.hAuto {
    min-height: 30px;
}

.mt73 {
    margin-top: 73px;
}

.mt55 {
    margin-top: 55px;
}

.HeaderSclStk>.m63_cn_grp {
    flex-direction: row;
}

.HeaderSclStk>.m63_cn_grp hgroup {
    text-align: left;
    margin-left: 10px;
}

.m63_scsn.vdo_pup h2 {
    margin-bottom: 10px;
    color: #009577;
    font-weight: bold;
    line-height: 30px;
    padding-top: 30px;
    padding-right: 0px;
}

article.m63_pop_frm.vdo_pup {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    top: auto;
    bottom: auto;
}

.vdo_pup_c {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

header {
    padding: 60px 10px 0;
}

.m63_cn_grp figure {
    max-width: 82px;
    max-height: 82px;
    border: 1px solid #e0e0e0;
    margin-bottom: 7px;
    min-width: 82px;
    min-height: 82px;
    margin-right: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.m63_cn_grp {
    line-height: 18px;
}

.d63_GST {
    margin-top: 5px;
}

.m63Ts:nth-last-of-type(2) {
    margin-right: 15px;
}

nav.HeaderSclStk {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.mHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 51px;
}

.m63_hb+div {
    display: flex;
    align-items: center;
    position: absolute;
    transition: all 0.3s ease-out;
}

.m63_srh_grp {
    top: 8px;
    min-width: 100%;
    left: 0;
    z-index: 2;
}

#header_data figure,
#header_data figure a {
    max-width: 30px;
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
}

#header_data figure {
    border: 1px solid #e0e0e0;
    margin-right: 10px;
}

#header_data figure a img {
    max-width: 30px;
    max-height: 30px;
}

#header_data #topCName {
    font-size: 13px;
}

#header_data #topCName h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pup_srch {
    display: flex;
    align-items: center;
}

.mt12 {
    margin-top: 12px;
}

.m63_hb {
    min-width: 21px;
    width: 21px;
    height: 21px;
}

.m63_sch {
    min-width: 21px;
    max-width: 21px;
    height: 23px;
    margin-left: 10px;
}

.m63_sch>span {
    width: 100%;
    height: 100%;
}

.pup_srch>div:first-child {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

#header_data {
    margin-left: 35px;
    margin-right: 40px;
}

.hborder {
    border-width: 1px;
    border-bottom-style: solid;
    border-color: lightgrey;
}

#sclose {
    background-color: #dddada;
    padding: 3px 7px;
    border-radius: 20px;
    border: 1px solid #c5c3c3cc;
    margin-top: 4px;
}

.pupCls {
    z-index: 5;
    top: 0;
    right: 0;
    padding-bottom: 5px;
    padding-top: 10px;
}

.pupCls>span {
    background-color: #dddada;
    padding: 6px 16px;
    border-radius: 20px;
    border: 1px solid #c5c3c3cc;
}

.pupCls>span>span:first-child {
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

.pupCls>span>span:first-child:after,
.pupCls>span>span:first-child:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 2px;
    background: #000;
    transform: rotate(42deg);
}

.pupCls>span>span:first-child:after {
    transform: rotate(42deg);
}

.pupCls>span>span:first-child:before {
    transform: rotate(-41deg);
}

.mt43 {
    margin-top: 43px;
}

.mt20 {
    margin-top: 20px;
}

.pea-button {
    background-color: transparent;
    font-family: Oxygen, sans-serif;
    color: #00a699;
    font-size: 14px;
    margin: 0 0 2px 5px;
    font-weight: 600;
}

#whatsapp-icon>a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#whatsapp-icon {
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #00a699;
    border-radius: 10px;
    padding: 2px 10px 2px 2px;
    box-shadow: 0px 3px 3px #c8c9c9;
}

.transitioned {
    transition: bottom 0.3s ease;
    /* Adjust the duration and easing function as needed */
}

#topCLogoLink {
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    align-items: center;
    display: flex;
}

.closeSearch {
    max-width: 20%;
    width: 100%;
    right: 0;
}

.searchBar {
    position: fixed;
    max-width: 80%;
    left: 0;
}

.dns {
    display: none !important;
}

.h180 {
    min-height: 180px;
    max-height: 180px;
}

.rt_pup_c {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    z-index: 9999;
    align-items: center;
    justify-content: center
}

.rt_pup_c>div {
    width: 94%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px
}

.rt_pup_c>div>.d64_hw32 {
    top: -26px;
    position: absolute;
    right: 2px
}

.rt_pup_c img {
    max-width: 100%;
    max-height: 300px;
}
.rvwPupImg{max-width:100%;max-height:300px;min-height:300px}
.instaVdo{height:391px;overflow:hidden}
.instaVdo iframe{transform:translate(0, 7%)}